name = "videome"
main = ".svelte-kit/cloudflare/_worker.js"
compatibility_date = "2024-12-05"
compatibility_flags = [ "nodejs_compat" ]
keep_vars = true

[observability]
enabled = true

[assets]
directory = ".svelte-kit/cloudflare"
binding = "ASSETS"

# Triggers
[triggers]
crons = []

# Build configuration
[build]
command = "npm run build"
watch_dir = "src"